<nav>
  <a href="{% url 'forum_app:home' %}">SITE NAME</a>
  <p>hello {{user}}</p>
  {% if user.is_authenticated %}
  {% if user_profile == None %}
  <a href="{% url 'forum_app:profile_init'%}">profile</a>
  {% else %}
  <a href="{% url 'forum_app:profile_show' user_profile.id%}">profile</a>
  {% endif %}
  <a href="{% url 'forum_app:logout' %}">logout</a>
  {% else %}
  <a href="{% url 'forum_app:registration' %}">registration</a>
  <a href="{% url 'forum_app:login' %}">login</a>
  {% endif %}
</nav>
