{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Rush01
{% endblock %}

{% block content %}

  <br>
  <div> {{ post.title }} <div>
  <div> {{ post.author }} | {{ post.created }}
  <a button_type="link" class="btn btn-outline-secondary btn-sm" href={% url 'forum_app:home' %}>Back to Home</a>
  {% if post.author == user %}
    <a button_type="link" class="btn btn-outline-secondary btn-sm" href={% url 'forum_app:post_edit' post.id %}>Edit Post</a>
    <a button_type="link" class="btn btn-outline-secondary btn-sm" href={% url 'forum_app:post_delete' post.id %}>delete</a>
  {% endif %}</div>
  <br><br>

  <h5>content</h5>
  <p class="text-md-start">{{ post.content }}</p>
  <br><br>

  {% for comment in post.comment_set.all %}
    {% if not comment.parent_comment %}
      <div>{% include "comment_space.html" %}{{ comment.author }} | {{ comment.created }}</div>
      <div>{% include "comment_space.html" %}{{ comment.content }}
      <a class="btn btn-outline-success btn-sm" href={% url 'forum_app:post_2' post.id comment.id %}>comment</a>
      {% if com.id == comment.id %}
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button "Save" button_type="submit" button_class="btn btn-outline-success btn-sm" %}
          <a class="btn btn-outline-success btn-sm" href={% url 'forum_app:post' post.id %}>cancel</a>
        </form>
      {% endif %}
      </div>
    {% endif %}
    {% if comment.child_comment.all %}
      {% include 'comment.html' %}
    {% endif %}
  {% endfor %}

{% endblock %}

