{% extends "base.html" %}

{% block title %}
Rush01
{% endblock %}

{% block content %}
  <a href={% url 'forum_app:home' %}>Back to Home</a>
  <a href={% url 'forum_app:edit' post.id%}>Edit Post</a>
  <div> {{ post.title }} | {{ post.author }} | {{ post.created }} </div>
  <div> {{ post.content }} </div>
  <div>---</div>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
  </form>

  {% for comment in post.comment_set.all %}
    <div>{{ comment.author }} | {{ comment.created }}<div>
    <div>{{ comment.content }}<div>
  {% endfor %}

{% endblock %}

