{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
{%if user_profile == None%}
<form action="{%url 'forum_app:profile_init' %}" enctype="multipart/form-data" method="post" class="form">
{%else%}
<form action="{%url 'forum_app:profile_edit' user_profile.id %}" enctype="multipart/form-data" method="post" class="form">
{%endif%}
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Registration">
  <input type="reset" value="Cancel">
</form>
{% endblock %}
